@model models.Models.Board

@{
    ViewData["Title"] = "@Model.Title";
}

<h4 class="text-center text-uppercase mt-3">@Model.Title</h4>
<div class="index-scroll">
    <table>
        <tbody>
            <tr>
                @foreach (var pin in Model.Pinned)
                {
                    <div class="img__block">
                        <div class="img__wrap">
                            <img class="img__img" src="/images/@pin.Art.ImgFile" height="100" width="100" />
                            @* onClick="showDiv(@art, '/images/@art.ImgFile'); return false;" *@
                            <div class="img__description anchorDetail">
                                <a class="unpin" href="/Unpin/@pin.PinId/@Model.BoardId">Unpin</a>
                                <p class="creator">@pin.Art.Creator.DisplayName</p>
                                <p class="artTitle">@pin.Art.Title</p>
                                <div class="likeIco">
                                    <p class="nom">@pin.Art.LikedBy.Count</p>
                                    <a class="likes" href="LikeArt/@pin.Art.ArtId">
                                        @if (pin.Art.LikedBy.Any(a => a.User == ViewBag.User))
                                        {
                                            <span class="highlight">
                                                <i class="material-icons">favorite</i>
                                            </span>
                                        }
                                        else
                                        {
                                            <i class="material-icons">favorite_border</i>
                                        }
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </tr>
        </tbody>
    </table>
